{% extends "base.html" %}
{% block title %}
  E-Bazar - Home
{% endblock title %}

{% block content %}
   <!-- Product Cart Start -->
   <div class="container">
    <div class=" w-100 mt-4">
        <h1 class="d-block" ><b>Lessons</b></h1>
        <div class="d-flex flex-wrap justify-content-between">
            {% for i in products %}
            <!-- Product Cart Start -->
            <div class="card border border-0 shadow-sm d-inline-block m-1 mt-3" style="width: 16.5rem;" >
                <div class="card-body">
                    <a class="nav-link" href="{% url 'product:detail' i.id %}"><h5><b>{{i.title}}</b></h5></a>
                    <p><span class="center card-text">{{ i.description }}</span></p>
                </div>
            </div>
            <!-- Product Cart End -->
            {% endfor %}

        </div>
    </div>
</div>
<!-- Product Cart End -->
{% endblock content %}